<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login.css" type="text/css" media="all" />
    <script src="/static/javascript/login.js" type="text/javascript"></script>
    <script src="/static/javascript/signUp.js" type="text/javascript"></script>
</head>
<body>
    <div class = "imgg">
        <img class = back_img  src="/static/images/KakaoTalk_20210413_114117604.png">
    </div>
    <div id="container" class="main_container">
        <div class="login_container">
            <div class="form_container">
                <form name="login_form" action="/api/user/" method="POST">
                    <div class="form_title_div">
                        <p class="form_title_p">ShareBox</p>
                    </div>
                    
                    <div>
                        <div>
                            <a class="form_item_name">Email</a>
                        </div>
                        <div>
                            <input type="text" name="email" placeholder="E-mail" class="form_input"/>
                        </div>
                        <div class="form_text_alert_padding">
                            <div id="alert_email" class="form_text_alert"></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <a class="form_item_name">Password</a>
                        </div>
                        <div>
                            <input type="password" name="password" placeholder="Enter password" class="form_input" />
                        </div>
                        
                        <div class="form_text_alert_padding">
                            <div id="alert_password" class="form_text_alert"></div>
                        </div>
                    </div>
                   
                    <div>
                        <button type="button" class="form_submit_button" onclick="login()">로그인</button>
                    </div>
                    <div>
                        <button type="button" class="form_signUp_button" onclick="location.href='./signup.html'">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>