<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./css/reservationConfirm.css">
<div class="container bootstrap snippets bootdey">
    <div class="col-md-8 col-sm-12 col-xs-12">
    	<div class="row">
		    <div class="col-md-12">
		        <div class="widget-box">
		            <div class="widget-header bordered-bottom bordered-themesecondary">
		                <i class="widget-icon fa fa-tags themesecondary"></i>
		                <h5 class="widget-caption themesecondary">예약확인 페이지</h5>
		            </div><!--Widget Header-->
		            <div class="widget-body">
		                <div class="widget-main no-padding">
		                    <div class="tickets-container">
		                        <ul class="tickets-list">
		                            <li class="ticket-item">
		                                <div class="row">
		                                    <div class="ticket-user col-md-6 col-sm-12">
		                                        <img src="./img/111.PNG" class="user-avatar">
		                                        <span class="user-name"></span>
											</div>
											<div class="ticket-times  col-md-4 col-sm-6 col-xs-12">
												
		                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
		                                        <span class="address">날짜</span>
		                                    </div>
		                                    <div class="ticket-times  col-md-4 col-sm-6 col-xs-12">
												
		                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
		                                        <span class="time">10월 31일</span>
		                                    </div>
											<div class="ticket-times  col-md-4 col-sm-6 col-xs-12">
												
		                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
		                                        <span class="address">주소</span>
		                                    </div>
		                                    <div class="ticket-times  col-md-4 col-sm-6 col-xs-12">
												
		                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
		                                        <span class="time">정존13길 23</span>
		                                    </div>
											<div class="ticket-times  col-md-4 col-sm-6 col-xs-12">
												
		                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
		                                        <span class="address">시간</span>
		                                    </div>
		                                    <div class="ticket-times  col-md-4 col-sm-6 col-xs-12">
												
		                                        <div class="divider hidden-md hidden-sm hidden-xs"></div>
		                                        <span class="time">오전 10:30 ~ 오후 1:30 </span>
		                                    </div>
		                                    
		                                    <div class="ticket-state bg-palegreen">
		                                        <i class="fa fa-check"></i>
		                                    </div>
		                                </div>
		                            </li>
		                            
		                                </div>
		                            </li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>                    